@model BTS.Web.Models.InCaseOfViewModel
@using BTS.Common
@{
    ViewBag.Title = "Add";
    Layout = null;
}

@if (User.IsInRole(CommonConstants.Data_CanAdd_Role))
{
    using (Html.BeginForm("Add", "InCaseOf", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return commonController.jQueryAjaxPost(this);", id = "__AjaxAntiForgeryForm" }))//data-resetUrl
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="col-md-10">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Id)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a class="btn btn-info" onclick="commonController.refreshAddNewTab('@Url.Action("Add","InCaseOf")', 0, 'Thêm mới')"><i class="fa fa-close"></i> Hủy bỏ</a>
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h3 class="text-danger">Bạn chưa được cấp quyền để thực hiện chức năng này !!!</h3>
}