@model BTS.Web.Models.LabViewModel
@using BTS.Common
@{
    ViewBag.Title = "Detail";
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Lab", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return commonController.jQueryAjaxPost(this);", data_restUrl = Url.Action("AddOrEdit", "Lab", new { id = "" }) }))//data-resetUrl
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Id, new { @class = "form-control", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Id)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (User.IsInRole(CommonConstants.Data_CanAdd_Role))
                        {
                            <a class="btn btn-primary" onclick="commonController.refreshAddNewTab('@Url.Action("AddOrEdit", "Lab", new { id = "", act = CommonConstants.Action_Add })',false)"><i c><i cla><i class="fa fa-plus"></i> Thêm mới</a>
                        }
                        @if (User.IsInRole(CommonConstants.Data_CanEdit_Role))
                        {
                            <a class="btn btn-success" onclick="commonController.Edit('@Url.Action("AddOrEdit", "Lab", new { id = @Model.Id, act = CommonConstants.Action_Edit })')"><i c><i cla><i class="fa fa-pencil"></i> Sửa đổi</a>
                        }

                        @if (User.IsInRole(CommonConstants.Data_CanDelete_Role))
                        {
                            <a class="btn btn-danger" onclick="commonController.Delete('@Url.Action("Delete", "Lab", new { id=@Model.Id})')"><i c><i cla><i class="fa fa-trash"></i> Xóa bỏ</a>
                        }

                        <a class="btn btn-info" onclick="commonController.refreshAddNewTab('@Url.Action("AddOrEdit","Lab", new{id = ""})', true)"><i c><i cla><i class="fa fa-close"></i> Hủy bỏ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}