@model BTS.Web.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Login</title>

    <!--Default CSS* -->
    <!-- jquery-ui -->
    <link href="~/Assets/libs/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- Theme style -->
    <link href="~/Assets/libs/adminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Assets/libs/adminLTE/plugins/iCheck/square/blue.css" rel="stylesheet" />
    <link href="~/Assets/client/css/custom-Site.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div>
        <input type="hidden" id="success" value="@TempData["success"]" />
        <input type="hidden" id="info" value="@TempData["info"]" />
        <input type="hidden" id="warning" value="@TempData["warning"]" />
        <input type="hidden" id="error" value="@TempData["error"]" />
    </div>
    <div id="header-row" style="padding: 0px; overflow:hidden; height:100px; background: url(/AppFiles/Images/bannerVcc2.png) center repeat"></div>
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>ĐĂNG NHẬP HỆ THỐNG</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"><b></b></p>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { returnUrl = @ViewBag.ReturnUrl, enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))//data-resetUrl
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.ReturnUrl);
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(model => model.RememberMe)
                                Nhớ mật khẩu?
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            }

            @*<div class="social-auth-links text-center">
                    <p>- HOẶC -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Đăng nhập với Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Đăng nhập với Google+
                    </a>
                </div>*@
            <!-- /.social-auth-links -->
            @*<a href="#">Quên mật khẩu</a><br>
                <a href="register.html" class="text-center">Đăng ký thành viên</a>*@
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/libs/adminLTE/plugins/iCheck/icheck.min.js"></script>

    <script src="~/Assets/client/js/common/notify.min.js"></script>
    <script src="~/Assets/client/js/common/message.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '10%' /* optional */
            });
        });
    </script>
</body>

    </div>
</body>
</html>
