@using BTS.Common
@{
    ViewBag.Title = "NoCertificate";
    Layout = "~/Views/Shared/Layouts_DataTable_Export_Map_PivotTable.cshtml";
    IEnumerable<BTS.Web.Models.OperatorViewModel> operators = ViewBag.operators;
    IEnumerable<BTS.Web.Models.ProfileViewModel> profiles = ViewBag.profiles;
    IEnumerable<BTS.Web.Models.CityViewModel> cities = ViewBag.cities;
}

@section headCSS{

}

@section footerJS{
    <script src="~/Assets/client/js/controllers/addinController.js"></script>
    <script src="~/Assets/client/js/common/myMap.js"></script>
    <script src="~/Assets/client/js/controllers/noCertificateController.js"></script>
    <script src="~/Assets/client/js/common/toExcel.js"></script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @*<section class="content-header">
            <h1>
                Data Tables
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>*@

    <!-- Main content -->

    <section class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <!-- SELECT2 EXAMPLE -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="BTS-title">LỌC TRẠM GỐC BTS KHÔNG ĐƯỢC CẤP GIẤY CHỨNG NHẬN KIỂM ĐỊNH</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="clearfix"></div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left", id = "__AjaxAntiForgeryForm", id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="DateRange">
                                        Khoảng thời gian<span class="required"></span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input class="form-control" type="text" name="DateRange" value="" style="width:100%" />
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="OperatorID">
                                        Nhà mạng<span class="required"></span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="OperatorID" class="form-control selectYear">
                                            <option value="" selected="selected">Tất cả</option>
                                            @foreach (var item in operators)
                                            {
                                                <option value="@item.Id">@item.Id _ @item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="CityID">
                                        Tỉnh/Thành phố<span class="required"></span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="CityID" class="form-control">
                                            <option value="" selected="selected">Tất cả</option>
                                            @foreach (var item in cities)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="ProfileID">
                                        Hồ sơ nộp<span class="required"></span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="ProfileID" class="form-control selectYear">
                                            <option value="" selected="selected">Tất cả</option>
                                            @foreach (var item in profiles)
                                            {
                                                <option value="@item.Id">@item.BtsQuantity BTS _ @item.ApplicantID _ @item.ProfileNum</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="BtsCodeOrAddress">
                                        Mã trạm/Địa chỉ trạm <span class="required"></span>
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input id="BtsCodeOrAddress" class="form-control col-md-7 col-xs-12" required="required" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">Bỏ lọc</button>
                                        <input class="btn btn-success" type="button" id="btnSearch" value="Thực hiện" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

        <ul class="nav nav-tabs nav-pills">
            <li class="active"><a data-toggle="tab" href="#homeTab">Danh sách BTS</a></li>

            <li><a data-toggle="tab" href="#AddOrEditTab"> Thêm mới</a></li>

            @if (User.IsInRole(CommonConstants.Info_CanViewMap_Role))
            {
                <li><a data-toggle="tab" href="#mapTab">Xem trên Bản đồ</a></li>
            }

            @if (User.IsInRole(CommonConstants.Info_CanViewStatitics_Role))
            {
                <li><a data-toggle="tab" href="#pivotTableTab">Số liệu thống kê</a></li>
            }
        </ul>
        <div class="tab-content">
            <div id="homeTab" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="BTS-title">DANH SÁCH TRẠM GỐC BTS KHÔNG ĐƯỢC CẤP GIẤY CHỨNG NHẬN KIỂM ĐỊNH</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                @if (User.IsInRole(CommonConstants.Data_CanExport_Role))
                                {
                                    <input type="button" onclick="ExportTableToExcel.tableToExcel('MyDataTable','NoCertificates','NoCertificates')" value="Xuất Excel">
                                }
                                <table id="MyDataTable" class="table table-bordered table-striped MyDataTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Nhà mạng</th>
                                            <th>Tỉnh</th>
                                            <th>Mã trạm</th>
                                            <th>Địa chỉ</th>
                                            <th>Đơn vị đo kiểm</th>
                                            <th>Ngày Đo kiểm</th>
                                            <th>Lý do không cấp G.CNKĐ</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td>Nhà mạng</td>
                                            <td>Tỉnh</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            @if (User.IsInRole(CommonConstants.Data_CanAdd_Role) || User.IsInRole(CommonConstants.Data_CanEdit_Role))
            {
                <div id="AddOrEditTab" class="tab-pane fade">@Html.Action("Add")</div>
            }
            <div id="mapTab" class="tab-pane fade">
                <h3 class="BTS-title">VỊ TRÍ CÁC TRẠM BTS KHÔNG ĐƯỢC CẤP GIẤY CHỨNG NHẬN KIỂM ĐỊNH</h3>
                <div id="mapBTS" style="width: 100%; height: 500px;"></div>
            </div>
            <div id="pivotTableTab" class="tab-pane fade">
                <h3 class="BTS-title">THỐNG KÊ SỐ LƯỢNG TRẠM GỐC BTS KHÔNG ĐƯỢC CẤP GIẤY CHỨNG NHẬN KIỂM ĐỊNH</h3>
                <div id="pivotTable" style="width: 100%"></div>
            </div>
            <!-- /.row -->
        </div>
    </section>
</div>