@model BTS.Web.Models.LicenceViewModel
@using BTS.Common
@{
    ViewBag.Title = "Detail";
    Layout = null;
}

  @if (User.IsInRole(CommonConstants.Data_CanViewDetail_Role))
{
    using (Html.BeginForm("Detail", "Licence", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return commonController.jQueryAjaxPost(this);", data_restUrl = Url.Action("Add", "Licence"), id = "__AjaxAntiForgeryForm" }))//data-resetUrl
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="col-md-10">
                
                    <div class="form-group">
                        @Html.LabelFor(model => model.machineCode, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.machineCode, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.machineCode)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.key, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.key, new { @class = "form-control", rows = "5", cols = "40", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.key)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.isValid, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.CheckBoxFor(model => model.isValid, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.isValid)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpireDate, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.ExpireDate)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DaysLeft, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.DaysLeft, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.DaysLeft)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.enable, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.CheckBoxFor(model => model.enable, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.enable)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @if (User.IsInRole(CommonConstants.Data_CanAdd_Role))
                            {
                                <a class="btn btn-primary" onclick="commonController.refreshAddNewTab('@Url.Action("Add", "Licence")',false)"><i class="fa fa-plus"></i> Thêm mới</a>
                            }
                            @if (User.IsInRole(CommonConstants.Data_CanEdit_Role))
                            {
                                <a class="btn btn-success" onclick="commonController.Edit('@Url.Action("Edit", "Licence", new { id = @Model.Id })')"><i class="fa fa-pencil"></i> Sửa đổi</a>
                            }

                            @if (User.IsInRole(CommonConstants.Data_CanDelete_Role))
                            {
                                <a class="btn btn-danger" onclick="commonController.Delete('@Url.Action("Delete", "Licence", new { id = @Model.Id })')"><i class="fa fa-trash"></i> Xóa bỏ</a>
                            }

                            <a class="btn btn-info" onclick="commonController.refreshAddNewTab('@Url.Action("Add","Licence")', true)"><i class="fa fa-close"></i> Hủy bỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h3 class="text-danger">Bạn chưa được cấp quyền để thực hiện chức năng này !!!</h3>
}