@model IEnumerable<BTS.Web.Models.ApplicationUserViewModel>
@using BTS.Common
@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<table class="table table-striped table-condensed MyDataTable" id="MyDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locked)
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="dt-body-center">
                      @if (User.IsInRole(CommonConstants.System_CanLock_Role))
                    {
                        if (item.Locked)
                        {
                            <a class="btn btn-warning btn-sm" onclick="commonController.Lock('@Url.Action("Lock", "ApplicationUser", new { id=@item.Id})')" data-toggle="tooltip" data-placement="top" title="Mở khóa"><i class="fa fa-lock fa-lg"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-warning btn-sm" onclick="commonController.Lock('@Url.Action("Lock", "ApplicationUser", new { id=@item.Id})')" data-toggle="tooltip" data-placement="top" title="Khóa"><i class="fa fa-unlock fa-lg"></i></a>
                        }
                    }
                </td>
                <td class="dt-body-center">
                      @if (User.IsInRole(CommonConstants.System_CanViewDetail_Role))
                    {
                        <a class="btn btn-info btn-sm" onclick="commonController.Detail('@Url.Action("Detail", "ApplicationUser", new { id = @item.Id })')" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-address-card fa-lg"></i></a>
                    }

                      @if (User.IsInRole(CommonConstants.System_CanEdit_Role))
                    {
                        <a class="btn btn-success btn-sm" onclick="commonController.Edit('@Url.Action("Edit", "ApplicationUser", new { id = @item.Id })')" data-toggle="tooltip" data-placement="top" title="Sửa đổi"><i class="fa fa-pencil fa-lg"></i></a>
                    }
                      @if (User.IsInRole(CommonConstants.System_CanReset_Role))
                    {

                        <a class="btn btn-success btn-sm" onclick="commonController.Reset('@Url.Action("Reset", "ApplicationUser", new { id = @item.Id })')" data-toggle="tooltip" data-placement="top" title="Đặt lại mật khẩu"><i class="fa fa-gear fa-lg"></i></a>
                    }

                      @if (User.IsInRole(CommonConstants.System_CanDelete_Role))
                    {
                        <a class="btn btn-danger btn-sm" onclick="commonController.Delete('@Url.Action("Delete", "ApplicationUser", new { id = @item.Id })')" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-trash fa-lg"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>