@model IEnumerable<BTS.Web.Models.CertificateViewModel>

@{
    ViewBag.Title = "Index_Test";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<h2>Index_Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BtsCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InCaseOfID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestReportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsCodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsOperatorIDs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsEquipments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsAntenNums)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsConfigurations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsPowerSums)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsBands)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBtsAntenHeights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinAntenHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxHeightIn100m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffsetHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeLimit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BtsCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longtitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InCaseOfID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestReportNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsCodes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsOperatorIDs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsEquipments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsAntenNums)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsConfigurations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsPowerSums)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsBands)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBtsAntenHeights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinAntenHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxHeightIn100m)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffsetHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafeLimit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
